.blogWrap{
    padding: 50px 25px 50px 25px;
    min-height: calc(100vh - 60px - 100px - 250px);
}
.blogWrap button{
    outline: none;
    border: none;
    transition: var(--transition);
    background-color: var(--primary-btn-bg);
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px;
    margin: 0px auto 50px auto;
}
.blogWrap button:hover{
    background-color: var(--primary-btn-hover-bg);
}
.blogWrap button:disabled{
    background-color: #ccc !important;
    cursor: not-allowed !important;
}
.blogWrap button:hover:disabled{
    background-color: #ccc !important;
}

.blogWrap .loadMoreWrap{
    display: flex;
    flex-direction: column;
}
.blogWrap .loadMoreWrap span{
    background-color: rgb(251, 135, 135);
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    max-width: fit-content;
    margin: 0 auto 15px auto;
}
.blogWrap h1{
    text-align: left;
}

.blogWrap .blogList{
    display: grid;
    column-gap: 15px;
    row-gap: 15px;
    list-style: none;
    padding: 0;
    padding-bottom: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem 0;
}
.blogCard{
    position: relative;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.15);
    transition:var(--transition) ;
    border-radius: 5px;
    padding-bottom: 5px;
    -webkit-animation-duration: var(--anim-duration);
    animation-duration: var(--anim-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.blogCard div{
    padding: 5px 7px 0px 7px;
}
.blogCard > a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.blogWrap .blogList .blogCard:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.75);
}
.blogCard img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}
.blogWrap .blogList .blogCard img{
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    max-height: 125px;
}
.blogCard h3{
    margin: 0.5rem 0;
    font-weight: 500;
    font-size: 0.9rem;
    text-align: left;
}

.postDetailsWrap{
    padding: 50px 25px 50px 25px;
    min-height: calc(100vh - 250px - 60px - 100px);
    text-align: left;
}
.postDetailsWrap h1{
    margin-bottom: 0.25rem;
    -webkit-animation-duration: var(--anim-duration);
    animation-duration: var(--anim-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.postDetailsWrap h2{
    margin: 0.5rem 0;
    font-size: 1.15rem;
    -webkit-animation-duration: var(--anim-duration);
    animation-duration: var(--anim-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.postDetailsWrap p{
    text-align: justify;
    line-height: 1.5;
    -webkit-animation-duration: var(--anim-duration);
    animation-duration: var(--anim-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-delay: 250ms;
}

.tagsList{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tagsList li{
    padding: 2px 7px;
    width: fit-content;
    background-color: var(--primary-btn-bg);
    color: #fff;
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 3px;
    margin-bottom: 2px;
    border-radius: 5px;
    -webkit-animation-duration: var(--anim-duration);
    animation-duration: var(--anim-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.postDetailsWrap .commentsList{
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 7px;
    background-color: #f0f0f0;
}

.postDetailsWrap .commentsList li{
    background-color: #DFDFDF;
    width: calc(100% - 20px);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 5px 0;
    -webkit-animation-duration: var(--anim-duration);
    animation-duration: var(--anim-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.postDetailsWrap .commentsList li p{
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 4px;
    margin: 0.5rem 0 0 0;
}

.postDetailsWrap .commentsList li span{
    font-weight: 600;
    margin-left: 5px;
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-10px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}


@media only screen and (max-width: 1300px) {
    .blogWrap .blogList{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    .blogWrap .blogList .blogCard img{
        max-height: 150px !important;
    }
}

@media only screen and (max-width: 1080px) {
    .blogWrap .blogList{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blogWrap .blogList .blogCard img{
        max-height: 125px !important;
        width: 100%  !important;
    }
}
@media only screen and (max-width: 810px) {
    .blogWrap .blogList{
        grid-template-columns: 1fr 1fr;
    }
    .blogWrap .blogList .blogCard img{
        max-height: 150px !important;
    }
}
@media only screen and (max-width: 567px) {
    .blogWrap .blogList{
        grid-template-columns: 1fr;
    }
    .blogWrap .blogList .blogCard img{
        max-height: 175px !important;
    }
}
@media only screen and (max-width: 420px) {
    
    .blogWrap .blogList .blogCard img{
        max-height: 125px !important;
    }
}