.categoryWrap{
    padding: 50px 25px 50px 25px;
    min-height: calc(100vh - 250px - 60px - 100px);
}
.categoryWrap h1{
    text-align: left;
    text-transform: uppercase;
}

.categoryWrap button{
    background-color: var(--primary-btn-bg);
    color: #fff;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
}
.categoryWrap button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}
.categoryWrap button:hover{
    background-color: var(--primary-btn-hover-bg);
}
.categoryWrap button:hover:disabled{
    background-color: #ccc;
}
