.contactWrap{
    text-align: left;
    min-height: calc(100vh - 250px - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactWrap > section{
    padding: 50px 25px 50px 25px !important;
    max-width: calc(1280px - 50px) !important;
}
.contactWrap .layoutWrap{
    /* padding: 50px 25px 50px 25px; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contactWrap .layoutWrap .left,
.contactWrap .layoutWrap .right{
    width: 45%;
}

.contactWrap .layoutWrap .right{
    background-color: var(--primary-btn-bg);
    padding: 15px 20px;
    border-radius: 5px;
    position: relative;
    top: -15px;
}
.contactWrap .layoutWrap .left h2,
.contactWrap .layoutWrap .right h2{
    margin-top: 0;
}
.contactWrap .layoutWrap .left .infoWrap{
    display: flex;
    align-items: center;
}

.contactWrap .layoutWrap .left address{
    font-style: normal;
}
.contactWrap .layoutWrap .left address > p{
    padding-left: 30px;
    margin: 0.5rem 0;
}
.contactWrap .layoutWrap .left address h3{
    display: flex;
    align-items: center;
    margin: 0.5rem 10px .5rem 0px;

}
.contactWrap .layoutWrap .left address h3 svg{
    fill: var(--primary-btn-bg);
    margin-right: 5px;
    font-size: 1.75rem;
}
.contactWrap .layoutWrap .left address a{
    text-decoration: none;
    color: var(--primary-btn-bg);
    font-weight: 600;
}
.contactWrap .contactMap{
    background-color: #ccc;
    min-height: 250px;
}

.contactWrap .layoutWrap .right h2{
    color: #fff;
}

.contactWrap .layoutWrap .right .form .formGroup{
    display: flex;
    flex-direction: column;
}

.contactWrap .layoutWrap .right .form .formGroup label{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.25rem;
}

.contactWrap .layoutWrap .right .form .formGroup input{
    outline: none;
    border: none;
    height: 20px;
    padding: 10px 15px;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.contactWrap .layoutWrap .right .form .formGroup textarea{
    min-height: 100px;
    outline: none;
    border: none;
    padding: 10px 15px;
    margin-bottom: 2rem;
    border-radius: 5px;
    max-width: 100%;
    resize: vertical;
}
.contactWrap .layoutWrap .right .form button{
    display: block;
    outline: none;
    border: none;
    padding: 10px 15px;
    background-color: #fff;
    color: var(--primary-btn-bg);
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
    margin: 0 0 1rem auto;
    font-weight: 700;
    transition: var(--transition);
    cursor: pointer;
    line-height: 1;
}

.contactWrap .layoutWrap .right .form button:hover{
    background-color: var(--primary-btn-hover-bg);
    color: #fff;
}