.blogSliderWrap{
    padding: 10px 25px;
}

.blogSliderWrap h2{
    text-align: left;
    margin: 1rem 0;
}
.blogSliderWrap p{
    text-align: left;
}
.blogSliderWrap .blogSlider{
    cursor: grab;
    margin: 50px 0px 25px 0;
    position: relative;
}
.blogSliderWrap .blogSlider .blogSliderItem img{
    max-width: 100%;
}
.blogSliderWrap .blogSlider .nextArr{
    position: absolute;
    top: -75px;
    right: 0;
    padding: 15px;
    background-color: #000;
    cursor: pointer;
}
.blogSliderWrap .blogSlider .prevArr{
    position: absolute;
    top: -75px;
    right: 50px;
    padding: 15px;
    background-color: #000;
    cursor: pointer;
}